.map-container {
    height: 800px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.197);
}


.leaflet-popup-content {
    max-width: none !important;
    width: auto !important;
}

.custom-popup {
    max-width: 400px;
    width: 500px;
}

.popup-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.popup-img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
}

.popup-text {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    word-break: break-word;
    flex: 1;
}

